# Psiphon Configuration
PUID=1000
PGID=1000
HTTP_PORT=8080
SOCKS_PORT=1080
DEVICE_REGION=IN
EGRESS_REGION=SG

# Squid Configuration
SQUID_PORT=3128

# Network Configuration
# Để trống nếu muốn cho phép tất cả các IP
# ALLOWED_IPS=192.168.1.0/24,10.0.0.0/8
